<%- include('header') %>
    <!-- the content -->
    <main>

        <!-- hero content -->
        <div class="hero">
            <!-- content for the hero -->
            <div class="hero-content">
                <h1 class="hero-title">Welcome To Trip Planner Website</h1>
                <p>DBMS Project LNMIIT 2021-22</p>
 
            </div> 
        </div>

        <!-- features section -->
        <div class="site-section">
        <div class="site-section-inside">

            <div class="section-header">
                <h2>Key Features</h2>
            </div>

            <div class="feature-box">
                <!-- <img src="img/like.png" alt="Easy to Use"> -->
                <h5>EXPLORE CITY</h5>
                <p>You can see Hotels, Restraunts, Places to visit and Nearby cities for a particular city we serve.</p>
                <a href="/explore">Learn More</a>

            </div>

            <div class="feature-box">
                <!-- <img src="img/faces.png" alt="Fun to Use"> -->
                <h5>Book my Bus</h5>
                <p>You can book, delete and check your bus reservation. Check the total available seats and cost too. </p>
                <a href="/book">Learn More</a>

            </div>

            <div class="feature-box">
                <!-- <img src="img/heart.png" alt="Fun to Use"> -->
                <h5>book my hotel</h5>
                <p>You can also book, delete and check Hotels to stay from the list of options available by us.</p>
                <a href="/hotel">Learn More</a>
            </div>

        </div>
        </div>


    </main>

    <!-- the footer
    <footer>
        <img src="img/avatar.jpeg" alt="Footer Logo">
        <span>My Website<br>Copyright &copy; 2016-3010 </span>
    </footer> -->

</body>
</html>

<%- include('footer') %>